@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<nav class="navbar navbar-expand-lg navbar-light bg-light">    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarManage" aria-controls="navbarManage" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarManage">
        <div class="navbar-nav">            
            <a asp-page="./Index" class="nav-item nav-link">Profile</a>
            <a asp-page="./ChangePassword" id="change-password" class="nav-item nav-link">Password</a>
            @if (hasExternalLogins)
            {
                <a asp-page="./ExternalLogins" id="external-login" class="nav-item nav-link text-nowrap">External logins</a>
            }
            <a asp-page="./TwoFactorAuthentication" class="nav-item nav-link text-nowrap">Two-factor auth</a>
            <a asp-page="./PersonalData" class="nav-item nav-link text-nowrap">Personal data</a>
        </div>
    </div>
</nav>