
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Do you really want to delete this event? <br />
                All the event data will be lost. You can’t undo this action.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark mr-auto" data-dismiss="modal">Cancel</button>
                <form id="delete-form" asp-area="manager" asp-controller="activities" asp-action="delete">
                    <input type="hidden" id="id-to-delete" name="id" value="" />
                    <button id="erase" type="button" class="btn btn-secondary ml-auto">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>