<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontello/css/fontello.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
    <wrapper class="d-flex flex-column">
        <partial name="_CookieConsentPartial" />
        <header id="top-nav" class="navbar navbar-expand flex-md-row flex-column">
            <div class="navbar-brand logo">
                <a class="nav-link logo" href="/main/home/index">
                    <img src="~/images/VoteLogoFullFinal.svg" height="36" alt="Alternate Text" />
                </a>
            </div>
            <div class="container">
                <div class="ml-auto mr-auto">
                    <a class="btn btn-secondary" href="/manager/activities/create">Create event</a>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </header>

        <main class="reseda-bg">
            <div class="container">
                @RenderBody()
            </div>
        </main>

        <footer>
            <nav class="navbar navbar-expand flex-md-row flex-column" id="bottom-nav">
                <ul class="navbar-nav mr-md-auto">
                    <li class="nav-item">
                        <a class="nav-link bright" href="/main/home/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap bright" href="#top-nav">Back to top</a>
                    </li>
                </ul>
                <div class="ml-md-auto">
                    <span>Copyright &copy; 2018 by <a class="bright" href="/main/home/index">Vote.Inc</a> |</span>
                    <span>Coded by <a class="bright" href="https://github.com/BiserB/CourseProject">B.B.</a></span>
                </div>
            </nav>
        </footer>
    </wrapper>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/browser/signalr.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>