
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sofia<br />
    Mladost 3, 1712<br />
    <abbr title="Phone">P:</abbr>
    <a href="+359876435446" class="blackish">+359 876 435 446</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:butoff@abv.bg">butoff@abv.bg</a><br />    
</address>