@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="col-md-6 ml-auto mr-auto">
    <h1 class="bright">Error.</h1>
    <h3 class="blackish">An error occurred while processing your request.</h3>
    <hr class="style1 bright" />
    <p class="my-4 h4 bright">
        Would you like to join an event?
    </p>
    <div class="col-md-8 mr-auto">
        <partial name="_SearchEvent" />
    </div>
</div>

