@{
    ViewData["Title"] = "Index";
}

<partial name="_MainSearchEvent" />
<div class="important text-center">
    <br />
    <h1>
        <span class="text-white">THIS IS </span><img src="~/images/VoteLogoFullFinal.svg" height="36" class="mb-2" /><br />
        The free platform<br />
        for meetings, trainings<br />
        events.
    </h1>
</div>