@model CreateEventBindingModel
@{
    Layout = "_ManagerLayout";
    ViewData["Title"] = "Create";
    ViewData["Header"] = "Create a new event";
}

<div class="row bright-bg height80">
    <div class="col-md-5 ml-auto  mr-auto">
        @Html.EditorForModel()
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatePicker" />
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}