@model PollBindingModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 ask-section ml-auto mr-auto">
        <div class="container">
            <h1 class="h4 ml-auto mr-auto mt-md-2"><span class="code-mutted mx-3">@Model.EventCode</span> <strong>@Model.EventTitle</strong> </h1>
            <hr />
            @Html.EditorForModel()
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_AddPollAnswer" />
    <partial name="_ValidationScriptsPartial" />
}
