<div class="navbar-nav mr-auto">
    <form asp-area="participant" asp-controller="events" asp-action="join" method="get" class="input-group">
        <input class="form-control" type="search" name="code" placeholder="CODE" aria-label="Join">
        <span class="input-group-append">
            <button class="btn btn-light" type="submit">
                <i class="icon-search"></i>
            </button>
        </span>
    </form>
</div>